.music_con_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rebeccapurple;
    .song_msg{
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap;
        .poster_img{
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
        }
        .msg_dox{
            width: 100%;
            height: 80px;
            .song_name{
                width: 100%;
                font-size: 24px;
                color: white;
            }
        }

    }
    .controls_progress2{
        width: 400px;
        height: 100%;
        // background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        .time_now{
            width: 80px;
            font-size: 24px;
            position: absolute;
            top: 30px;
            text-align: center;

            left: 50%;
            color: white;
            transform: translateX(-50%);
        }
        .durationText{
            width: 80px;
            font-size: 24px;
            position: absolute;
            bottom: 30px;
            text-align: center;
            left: 50%;
            color: white;
            transform: translateX(-50%);            
        }
    }
    .controls_progress{
        width: 400px;
        height: 100%;
        // background: red;
        display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        .progress_box{
            width: 100%;
            height: 10px;
            background-color: aqua;
            position: relative;
            // overflow: hidden;
            .progress_bar{
                width: 90%;
                height: 10px;
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
            }
            .progress_btn{
                width: 12px;
                height: 12px;
                position: absolute;
                top: 50%;
                cursor: pointer;
                left: 20px;
                z-index: 2;
                // transform: translateY(-50%);
                margin-top: -6px;
                background-color: aliceblue;
            }
        }
    }
}